.button__link { 
    background-color: #6F00FF;
    padding: 8px 13px;
    color: #fff;
    font-weight: 400;
    transition: 0.1s ease;

    &:hover{ 
        background-color: rgb(50, 50, 50);
    }
}