

.content__container { 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem 0px;

    &__text__area { 
        width: 30rem;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    &__image__area{ 
        width: 30rem;
        height: 30rem;
        background-color: aqua;
    }
}

