.container{ 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem 0px;
    gap: 20px;
}

.form__image__area { 
    width: 25rem;
    height: 25rem;
    background-color: antiquewhite;
    border-radius: 0.5rem;
}

.form__container{ 
    width: 24rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{ 
        font-weight: 700;
    }


    button{ 
        width: 20rem;
        margin: 10px 0px;
        border-radius: 0.3rem;
        background-color: #1e1e1e;
        color: #e6f7ff;

        
    }

    &__fields__input__area { 
        background-color: #e6f7ff;
        padding: 5px 10px;
        border-radius: 0.5rem;
        border: 1px solid lightblue;
        display: flex;
        justify-content: space-between;

        &__icon{ 
            background-color: lightgray;
        }

        
        
        
        input{ 
            border: none;
            background-color: transparent;


            &:focus{ 
                outline: none;
            }
        }

        

    }
}