.card { 
    width: 13rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__text { 
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        width: 80%;

        &__model { 
           color: rgb(42, 42, 42);
           font-size: 1.35rem;
           font-weight: 800;
        }

        &__category { 
            color: gray;
            font-weight: 300;
        }

        &__price { 
            color: #1e1e1e;
            font-weight: 300;
        }
    }


}