@import './../../sass/abstract/variables';

.header {
    height: $header-height;
    background: #F5F7F8;
    color: $text2;
    position: fixed;
    z-index: 1000;
    width: 100%;
    // box-shadow: 0 1px 5px $primary;

    &__content {
        max-width: 1920px;
        margin: 0 auto;
        padding: 0 $spacing-md;
        @include breakpoint(md) {
            padding: 0 $spacing-lg;
        }
        transition: 0.3s ease padding;

        height: 100%;
        display: flex;
        align-items: center;

        & > div {
            flex: 1;
            white-space: nowrap;

            &:nth-child(2) {
                display: flex;
                justify-content: flex-end;
                height: 100%;

                margin-right: $spacing-md;
            }
            &:last-of-type {
                display: flex;
                justify-content: flex-end;
                flex: 0;
            }
        }
    }

    &__button__container {
        display: none;
        @include breakpoint(md) {
            display: initial;
        }
    }
    &__toggler {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include breakpoint(md) {
            display: none;
        }
        & > svg {
            display: block;
            font-size: 32px;
        }
    }
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: $text2;
}

.nav {
        width: 100%;
        position: fixed;
        top: 72px;
        right: -100%;
        // background: rgba(255, 255, 255, 0.8);
        background: rgba(255, 255, 255);
        text-align: center;
        padding: 16px 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    &--open {
        transition: 0.2s ease right;
        right: 0;
    }

    &__item {
        display: block;
        padding: $spacing-md;

        text-decoration: none;
        color: #151515;


        transition: 0.3s ease color;
        &:hover {
            color: #758694;
        }
    }

    @include breakpoint(md) {
        position: static;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background: initial;
        width: auto;
        padding: 0;

        &__item {
            padding: 0 $spacing-lg;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #1d1d1d;
        }
    }

    &__button__container {
        @include breakpoint(md) {
            display: none;
        }
        padding: $spacing-md;
    }
}

.header__toggler { 
    background-color: transparent;
    border: none;
    color: #004479;
}

.button {
    font-weight: 500;
    background-color: #4379F2;
    color: #fff;
    border: none;
    padding: $spacing-sm $spacing-lg;
    border-radius: $spacing-sm ;
    cursor: pointer;

    a{
        color: #fff;
    }


    &:active {
        transform: scale(0.98);
        border-radius: 0;
    }
    &:hover {
        box-shadow: 1px 2px 2px rgba(0, 221, 255, 0.2);
    }
}

.bankingBanner{ 
    background: url(/images/bankingbanner2.png);
    width: 100%;
    height: 5rem;
    background-position: center center;  /* This centers the image horizontally and vertically */
    background-size: cover;             /* Ensures the image covers the entire element */
    background-repeat: no-repeat; 
}